.libs
a.out
*.so
*.lo
*.o
*.c
*.h
!0.h
!/compile/*.h
/compile/headers_db
!/module/x_window_hi_cpu/_keysym_data.h
!/module/x_window_hi_cpu/_wm_icon_data_*.h
!/module/x_window_lo_cpu/_keysym_data.h
!/module/x_window_lo_cpu/_wm_icon_data_*.h
