/_‟opRWTng”/
/old/
.libs
a.out
*.so
*.lo
*.o
*.c
*.h
!0.h
!/compile/*.h
/compile/headers_db
/compile/E_coux_S_0_main_not_to_libs.h
!/module/x_window_lo_cpu/_keysym_data.h
!/module/x_window_lo_cpu/_wm_icon_data_*.h
