.libs
a.out
*.so
*.lo
*.o
*.c
*.h
!0.h
!/compile/*.h
E_cplus_S_cx_sources
/compile/headers-db
/program/terminal-text-file-editor/test
!/module/x_window_hi_cpu/keysym-data.h
!/module/x_window_hi_cpu/wm-icon-data_*.h
!/module/x_window_lo_cpu/keysym-data.h
!/module/x_window_lo_cpu/wm-icon-data-*.h
