name: Compile after push

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '.github/**'
    - 'picture/**'
    - 'program/**'
    - '*.md'
    - '**/.autoopen-text'
    - '.autoopen-text'
    - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get number of CPU cores
      uses: SimenB/github-actions-cpu-cores@v2
      id: cpu-cores
    - uses: actions/checkout@v5
    - name: packages install
      run: sudo apt-get update; sudo apt-get install manpages-dev libtool-bin libssl-dev libssl-doc libcap-dev libncurses-dev ncurses-doc libwayland-dev wayland-protocols; sudo mandb
    - name: make
      run: env H_ocq_C_consent=1 make -j${{ steps.cpu-cores.outputs.count }} build
