name: Compile after push

on:
  push:
    branches: [ main ]
    paths-ignore:
    #- '.github/**'
    - 'picture/**'
    - 'program/**'
    - '*.md'
    - '**/.autoopen-text'
    - '.autoopen-text'
    - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: packages install
      run: sudo apt-get update; sudo apt-get install libtool-bin libwayland-dev libcap-dev libncurses-dev libssl-doc manpages-dev ncurses-doc
    - name: make
      run: make build
