name: Compile after push

on:
  push:
    branches: [ main ]
    paths-ignore:
    #- '.github/**'
    - 'picture/**'
    - 'program/**'
    - '*.md'
    - '**/.autoopen-text'
    - '.autoopen-text'
    - '.gitignore'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: packages install
      run: sudo apt-get update; sudo apt-get install libtool-bin libssl-dev libssl-doc libwayland-dev wayland-protocols libcap-dev libncurses-dev manpages-dev ncurses-doc; apropos -M /usr/share/man -s 3ssl SSL_CTX_new
    #- name: make
      #run: make build
